- if display
  %span.value{:id => currency.shortname} N/A
  %span.currency= currency.shortname
  %span.label= currency.longname

-else
  %span.currency= currency.shortname
  %span.label= currency.longname
