
%html
  %head
    %title Currency
    %script{:type => 'text/javascript', :src => '/javascripts/prototype.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/currency.js'}
    %link{:rel => 'stylesheet', :href => 'stylesheets/design.css', :type => 'text/css'}

  %body= yield
