
html, body
  font-family: Verdana, sans

h1
  width: 960px
  margin: 0px auto
  text-align: center

  color: #EBE1C5
  background-color: #4E6B66
  color: white
  background-color: #333


form
  margin: 0px auto
  width: 960px
  overflow: auto

  fieldset.from, fieldset.to
    padding: 0px
    margin: 0px
    border: none
    width: 480px
    float: left

.currency
  background-color: #4E6B66
  color: white
  &:hover
    background-color: #ED834E
