html, body {
  font-family: Helvetica, Verdana;
  background-color: #f4e9df; }

h1 {
  width: 800px;
  margin: 0px auto;
  text-align: center;
  color: #ebe1c5;
  background-color: #4e6b66;
  color: white;
  background-color: #333333; }

h2 {
  text-align: center;
  margin-bottom: 40px; }

form {
  margin: 100px auto 0px auto;
  width: 700px;
  overflow: auto; }
  form fieldset {
    background-color: white;
    border: 3px solid #4f4e57;
    padding: 0px 30px 30px 30px;
    margin: 0px;
    width: 270px;
    float: left; }
  form fieldset + fieldset {
    float: right; }
  form input#from_amount, form span.value {
    padding: 0px 10px;
    display: block;
    float: left;
    width: 160px;
    height: 2em;
    line-height: 2em;
    font-size: 1.5em;
    margin: 0px 20px 0px 0px;
    border: 1px solid #cccccc; }
  form span.value {
    border-color: transparent; }
  form span#from, form span.currency {
    font-size: 1.5em;
    line-height: 2em; }

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }
  ul li {
    padding: 0px;
    margin-bottom: 10px;
    width: 160px;
    height: 4em;
    line-height: 2em;
    border: 1px solid #cccccc; }

ul.from li.currency:hover, ul.to li.currency:hover {
  background-color: #c7ede8;
  color: black;
  border-color: #cccccc;
  border-bottom: 1px solid black;
  border-right: 1px solid black; }
ul.from li.currency.selected, ul.to li.currency.selected {
  background-color: #8f776a;
  color: white;
  border-color: #cccccc;
  border-top: 1px solid black;
  border-left: 1px solid black; }

ul.from li.currency {
  padding: 0px 10px;
  background-color: white;
  border: 1px solid #cccccc;
  color: black;
  width: 250px; }

ul.to li.currency {
  width: 270px; }
