<%- if display %>
  <span class="value" id="<%= currency.name %>">N/A</span>
  <span class="currency"><%= currency.name %></span>
<%- else %>
  <span class="currency"><%= currency.name %></span>
<%- end %>
